body {
  font-family: 'Open Sans', sans-serif;
}

.centered {
  text-align: center;
}

.bar {
  fill: gray;
}

.bar:hover {
  fill: brown;
}

.stock-price-chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: middle;
}

.stock-price-chart .title {
  font-size: 20px !important;
  fill: black !important;
}

.axis text {
  font: 10px sans-serif;
  fill: black !important;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

body {
  font: 10px sans-serif;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}